# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so
*.pyd
*.dll
*.dylib

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/
*.whl

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Virtual environments
.venv/
env/
venv/

# PyCharm and VSCode settings
.idea/
.vscode/

# Mac/Linux system files
.DS_Store
Thumbs.db
